body *{
    text-align: center;
    font-size: xx-large;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

button{
    font-weight: bold; 
    height: 200px;
    width: 200px;
    border : 2px solid blue;
    border-radius: 20px;
}

button:hover{
    background-color: aqua;
}

.lost{
    background-color: red;
}

.won{
    background-color: greenyellow;
}