.lost{
    color: red;
}

.won{
    color: greenyellow;
}

h1, .computer, footer{
    font-size: xx-large;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button{
    padding: 10px 0;
    font-size: xx-large;
    font-weight: bold;
    height: 200px;
    max-width: 200px;
    min-width: 8ch;
    width: 25%;
    border-radius: 1em;
}button:hover{
    background-color: aqua;
}button:active{
    background-color: rgb(0, 160, 160);
}

@media (max-width: calc(3*200px)){
    .buttons{
        flex-direction: column;
    }
    button{
        height: fit-content;
        border-radius: .5em;
    }
}

/* Animation */
.computer{
    opacity: 0;
}